/node_modules
.env
# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore other potentially sensitive or unnecessary files
.DS_Store
.env.local
.env.*.local
