<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a
      href="/signIn.html"
      class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Sign In</a
    >
    <a
      href="/signUp.html"
      class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Sign Up</a
    >
    <a
      href="/userData.html"
      class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >GetUserData</a
    >
    <!-- <a href="http://127.0.0.1:5000" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">go to maps</a> -->
  </body>
</html>
